<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.vchat.vchat.mapper.user.UserMapper">
    <resultMap id="userResult" type="com.demo.vchat.vchat.domain.User">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="openId" column="open_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="sessionKey" column="session_key" javaType="String" jdbcType="VARCHAR"/>
        <result property="locked" column="locked" javaType="Integer" jdbcType="INTEGER"/>
        <result property="unionId" column="union_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="roleId" column="role_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="salt" column="salt" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <resultMap id="accessToken" type="com.demo.vchat.vchat.domain.AccessToken">
        <result property="accessToken" column="access_token" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="expiresTime" column="expires_time" jdbcType="TIMESTAMP"/>
        <result property="saveTime" column="save_time" jdbcType="TIMESTAMP"/>
        <result property="jsapiTicket" column="jsapi_ticket" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="user_column">
        id,open_id,session_key,locked,union_id,last_login_time,role_id,salt
    </sql>

    <sql id="accessToken_column">
        access_token,expires_time,save_time,jsapi_ticket
    </sql>

    <select id="userAccount" resultMap="userResult">
        SELECT
            account
        FROM
            `sys_users`
        WHERE
            account = #{account}
    </select>
    <!--Mybatis新增自动返回最后一个INSERT或 UPDATE 问询为 AUTO_INCREMENT列设置的第一个 发生的值-->
    <!--非自增  UUID-->
    <insert id="userRegister" parameterType="com.demo.vchat.vchat.dto.user.RegisterDto">
        /*keyProperty="userId" parameterType中的属性值  LAST_INSERT_ID()*/
        /*mapper文件中的update,delete,insert语句是不需要设置返回类型的，它们都是默认返回一个int*/
        <selectKey keyProperty="userId" resultType="java.lang.String" order="BEFORE">
            SELECT uuid()
        </selectKey>
        INSERT INTO
            sys_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="userName != null">user_name,</if>
            <if test="userAge != null">user_age,</if>
            <if test="userSex != null">user_sex,</if>
            status,
            user_create_time,
            salt,
            role_id,
            locked,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{userId},
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userAge != null">#{userAge},</if>
            <if test="userSex != null">#{userSex},</if>
            1,
            now(),
            '11111111',
            0,
            0,
        </trim>
    </insert>

    <select id="getAccessToken" resultMap="accessToken">
        SELECT
            <include refid="accessToken_column"/>
        FROM
            access_token
    </select>
    <select id="findUserByOpenId" resultMap="userResult">
        SELECT
            <include refid="user_column"/>
        FROM
            sys_users
        where open_id = #{openid}
    </select>

    <update id="clearAccessToken" parameterType="int">
        TRUNCATE TABLE access_token
    </update>
    <update id="saveSalt">
        UPDATE
        sys_users
        SET salt = #{salt}
        WHERE id = #{id}
    </update>

    <insert id="saveAccessToken" parameterType="java.lang.String">
        INSERT INTO
            access_token(access_token,expires_time,save_time,jsapi_ticket)
            VALUES
            (#{accessToken},DATE_ADD(NOW(),INTERVAL 2 HOUR),NOW(),#{jsapiTicket})
    </insert>
    <insert id="addUser" parameterType="com.demo.vchat.vchat.domain.User">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
            sys_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId != null">open_id,</if>
            <if test="sessionKey != null">session_key,</if>
            <if test="salt != null">salt,</if>
            <if test="unionId != null">union_id,</if>
            last_login_time,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId != null">#{openId},</if>
            <if test="sessionKey != null">#{sessionKey},</if>
            <if test="salt != null">#{salt},</if>
            <if test="unionId != null">#{unionId},</if>
            now(),
        </trim>
    </insert>

</mapper>