<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.vchat.vchat.mapper.user.UserMapper">
    <resultMap id="userResult" type="com.demo.vchat.vchat.domain.User">
        <id property="userId" column="user_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="account" column="account" javaType="String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="String" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="userAge" column="user_age" javaType="INTEGER" jdbcType="INTEGER"/>
        <result property="userSex" column="user_sex" javaType="String" jdbcType="VARCHAR"/>
        <result property="status" column="status" javaType="INTEGER" jdbcType="INTEGER"/>
        <result property="userCreateTime" column="user_create_time" javaType="java.sql.Date" jdbcType="DATE"/>
        <result property="salt" column="salt" javaType="String" jdbcType="VARCHAR"/>
        <result property="userRoleId" column="role_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="locked" column="locked" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="accessToken" type="com.demo.vchat.vchat.domain.AccessToken">
        <result property="accessToken" column="access_token" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="expiresTime" column="expires_time" javaType="java.sql.Date" jdbcType="DATE"/>
        <result property="saveTime" column="save_time" javaType="java.sql.Date" jdbcType="DATE"/>
        <result property="jsapiTicket" column="jsapi_ticket" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="user_column">
        id,account,password,user_name,user_age,user_sex,status,user_create_time,salt,role_id,locked
    </sql>

    <sql id="accessToken_column">
        access_token,expires_time,save_time,jsapi_ticket
    </sql>

    <select id="userAccount" resultMap="userResult">
        SELECT
            account
        FROM
            `sys_users`
        WHERE
            account = #{account}
    </select>
    <!--Mybatis新增自动返回最后一个INSERT或 UPDATE 问询为 AUTO_INCREMENT列设置的第一个 发生的值-->
    <!--非自增  UUID-->
    <insert id="userRegister" parameterType="com.demo.vchat.vchat.dto.user.RegisterDto">
        /*keyProperty="userId" parameterType中的属性值*/
        /*mapper文件中的update,delete,insert语句是不需要设置返回类型的，它们都是默认返回一个int*/
        <selectKey keyProperty="userId" resultType="java.lang.String" order="BEFORE">
            SELECT uuid()
        </selectKey>
        INSERT INTO
            sys_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="userName != null">user_name,</if>
            <if test="userAge != null">user_age,</if>
            <if test="userSex != null">user_sex,</if>
            status,
            user_create_time,
            salt,
            role_id,
            locked,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{userId},
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userAge != null">#{userAge},</if>
            <if test="userSex != null">#{userSex},</if>
            1,
            now(),
            '11111111',
            0,
            0,
        </trim>
    </insert>

    <select id="getAccessToken" resultMap="accessToken">
        SELECT
            <include refid="accessToken_column"/>
        FROM
            access_token
    </select>

    <update id="clearAccessToken" parameterType="int">
        TRUNCATE TABLE access_token
    </update>

    <insert id="saveAccessToken" parameterType="java.lang.String">
        INSERT INTO
            access_token(access_token,expires_time,save_time,jsapi_ticket)
            VALUES
            (#{accessToken},DATE_ADD(NOW(),INTERVAL 2 HOUR),NOW(),#{jsapiTicket})
    </insert>

</mapper>